<%- include('../partials/header') %>
<a href="/dreams/fitness/:id">
  <button class="w-20 m-2 btn btn-sm btn-outline-dark">Back</button>
</a>
<h2 class="mt-5 mb-5 ms-3 shadow-sm">Edit Fitness & Health</h2>
<form action="/dreams/fitness/<%= fitness.id %>?_method=PUT" method="POST">
  <div class="mb-3 ms-4 me-4 mt-5">
    <input type="text" name="name" value="<%= fitness.name %>" required>
    <label for="name">Name:</label>
  </div>
  <div class="mb-3 ms-4 me-4">
    <input type="description" name="description" value="<%= fitness.description %>">
    <label for="description">Description</label>
  </div>
  <div class="mb-3 mt-5 form-check">
    <input type="number" name="priority" value="<%= fitness.priority %>">
    <label class="form-priority-label" for="priority">Priority:</label>
  </div>
  <button type="submit" class="mb-3 ms-4 me-4 mt-4 btn btn-outline-dark">Update</button>
</form>
<%- include('../partials/footer') %>