<%- include('../partials/header') %>
<a href="/dreams/taste/:id">
  <button class="w-20 m-2 btn btn-sm btn-outline-dark">Back</button>
</a>
<h2 class="mt-5 mb-5 ms-3 shadow-sm">Edit Cultural Exploration</h2>
<form action="/dreams/taste/<%= taste.id %>?_method=PUT" method="POST">
  <div class="mb-3 ms-4 me-4 mt-5">
    <input type="text" name="name" value="<%= taste.name %>" required>
    <label for="name">Name:</label>
  </div>
  <div class="mb-3 ms-4 me-4">
    <input type="description" name="description" value="<%= taste.description %>">
    <label for="description">Description</label>
  </div>
  <div class="mb-3 mt-5 form-check">
    <label class="form-priority-label" for="priority">Priority:</label>
    <input type="number" name="priority" value="<%= taste.priority %>">
  </div>
  <button type="submit" class="mb-3 ms-4 me-4 mt-4 btn btn-outline-dark">Update</button>
</form>

<%- include('../partials/footer') %>