<%- include('../partials/header') %>
<a href="/dreams/hobbies">
  <button class="w-20 m-2 btn btn-sm btn-outline-dark">Back</button>
</a>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis shadow-sm m-5">Personal Growth</h1>
  </div>
<div class="row row-cols-2 row-cols-md-3 mb-3 text-center justify-content-center align-items-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal"><%= hobby.name %></h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-4 mb-4">
          <p class="m-3"><strong>Description:</strong></p> 
          <p><%= hobby.description %></p>
          <p class="m-3"><strong>Priority:</strong></p> 
          <p><%= hobby.priority %></p>
        </ul>
      </div>
      <div class="justify-content-end">
        <a href="/dreams/hobbies/edit/<%= hobby.id %>">
          <button class="w-100 btn btn-lg btn-outline-dark">Edit</button>
        </a>   
        <form action="/dreams/hobbiesCompleted" method="POST">
          <input type="hidden" name="hobbyId" value="<%= hobby.id %>">
          <button class="w-100 btn btn-lg btn-outline-success" id="complete-button">Complete</button>
        </form>
        <form action="/dreams/hobbies/<%=hobby.id%>?_method=DELETE" method="POST">
          <button type="submit" class="w-100 btn btn-lg btn-outline-danger">Delete</button>
        </form>   
      </div>
    </div>         
  </div>
<%- include('../partials/footer') %>