<%- include('../partials/header') %>

<h2>Fitness Details</h2>
<p>Name: <%= fitness.name %></p>
<p>Description: <%= fitness.description %></p>
<p>Priority: <%= fitness.priority %></p>
<a href="/dreams/fitness/edit/<%= fitness.id %>">Edit</a>
<form action="/dreams/fitnessCompleted" method="POST">
    <input type="hidden" name="fitnessId" value="<%= fitness.id %>">
    <button id="complete-button">Complete</button>
  </form>
<form action="/dreams/fitness/<%=fitness.id%>?_method=DELETE" method="POST">
    <input type="submit" value="X"/>
  </form>
<%- include('../partials/footer') %>