<%- include('../partials/header') %>

<h1>WOOHOO YOU completed this dream!!!</h1>
    <h2>Completed Travel Details</h2>
<p>Name: <%= travel.name %></p>
<p>Description: <%= travel.description %></p>
<p>Comments/thoughts upon completion: <%= travel.comments %></p>
<p>Upload photos: <%= travel.photos %></p>
  <a href="/dreams/travelsCompleted/edit/<%= travel.id %>">Edit</a><br>
  <form action="/dreams/travelsCompleted/<%=travel.id%>?_method=DELETE" method="POST">
    <input type="submit" value="X"/>
  </form><br>

<%- include('../partials/footer') %>