<%- include('../partials/header') %>

<h2>Taste Details</h2>
<p>Name: <%= taste.name %></p>
<p>Description: <%= taste.description %></p>
<p>Priority: <%= taste.priority %></p>
<a href="/dreams/taste/edit/<%= taste.id %>">Edit</a>
<form action="/dreams/taste/<%=taste.id%>?_method=DELETE" method="POST">
    <input type="submit" value="X"/>
  </form>
<%- include('../partials/footer') %>